$verticalAlign: -0.15em;

@mixin title-shadow($color, $height, $bottom, $zIndex) {
  content: '';
  display: block;
  width: 100%;
  height: $height;
  bottom: $bottom;
  background-color: $color;
  position: absolute;
  z-index: $zIndex;
}

// 多行省略
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin truncate-($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  word-break: break-all;
  word-wrap: break-word;
}

@for $i from 1 through 10 {
  .truncate-#{$i} {
    @include truncate-($i);
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
